:root{
    --subititulo:var #FFA500;
    --cor-de-fundo: #000000;
    --botao-azul: #0000FF;
    --branco-principal: #FFFFFF;
    --cinza-secundário: #C0C0C0;
    --fonte-principal: 'Share Tech';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url("Chunchyroll\ 3.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.conteiner_botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.conteiner__aviso{
    font-size: 14px;
    color: var(--cinza-secundário);
}

.conteiner_titulo{
    font-size: 28px;
    font-weight: 700;
}

.conteiner_imagem{
    margin: 1em 0 2em 0;
}

.conteiner_div{
    margin: 0 6em;
}

.secundario_imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao_titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}
.descricao_texto{
    color: var(--cinza-secundário);
}

.secundario_botao{
    display: inline-block;
    margin-top: 1em;
}

.conteiner_descricao{
    padding: 2em;
}

.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos{
    text-align: center;
}
.dispositivos_titulo{
    font-size: 46px;
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista_link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1.5em;
}

.rodape_texto{
    margin: 1em 0;
    color: var(--cinza-secundário);
    font-size: 14px;
}